@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap');

* {
    margin : 0;
    padding: 0;
    display: box;
}

body {
    background-color: #D6E5FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-page {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 1080px;}

#game-board  {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    position: relative;

}

#looser-board {
    width: 1920px;
    height: 1080px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-visible {
    display : none;
}

.navigation {
    justify-content: space-around;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px #5a228b;
    border-bottom-style: solid;
    background: aliceblue;
}
.aside {
    display: none;
    background-color: aliceblue;
    position: absolute;
    width: 200px;
    padding: 50px;
    /* opacity: 0.60; */
    border-radius: 5px;
    right: 15px;
    top: 15px;
    text-align: center;
    text-transform: uppercase;
}
.aside p{
    font-size: 18px;
    padding: 15px 0;
}
.aside span {
    font-size: 24px;
}

h3 {
    font-size: 35px;
    padding: 15px 0
}

span {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    color: #5a228b;
}

img {
    width: 1000px;

}

.score, #looser-board h3 {
    font-family: 'Pacifico', cursive;
    font-size : 28px;
    color: #5a228b;
}

button {
    color: #5a228b;
    border: solid;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: aliceblue;
    border-radius: 5px;
    border-color: #5a228b;
    width: 200px;
    font-weight: 800;
    font-size: 16px;
    filter: drop-shadow(0 0 0.35rem #5a228b);
}

.load-new-game {
    margin-top: 30px;
}

button:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
  }

  button:active {
    border-color: #5a228b;
  }


  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
