@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap');

* {
    margin : 0;
    padding: 0;
    display: box;
}

body {
    background-color: #D6E5FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-page {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;}

#game-board  {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

#looser-board {
    width: 1920px;
    height: 1080px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-visible {
    display : none;
}

.navigation {
    justify-content: space-around;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

img {
    width: 1000px;

}

.score {
    font-family: 'Pacifico', cursive;
}

button {
    border: solid;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: aliceblue;
    border-radius: 5px;
    border-color: #5a228b;
}
